*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    outline-color: black;
    transition: all;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:rgb(118, 219, 211)
}
body{
    background-image: linear-gradient(to bottom right rgb(8,115,215));
    background-color: rgb(141, 172, 230);
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(12,6,11);
    background-color: #89c5f3;
}
button{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: medium;
    cursor:pointer;
    transition: all 200ms;
}
button:hover{
    transform: scale(1.1);
}
#display{
    margin: 0 10px;
    height: 150px;
    width:auto;
    max-width:250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display:block;
    height:5px;
}